body {
    background-color: honeydew;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
    position: relative;
}
#asignaturas {
    text-align: center;
    font-size: x-large;
    align-content: center;
    table-layout: fixed;
    width: 100%;
    border: black solid 2px;
    border-collapse: collapse;
    border-width: medium;
}
.cabeceras {
    background-color: lightcyan;
    font-size: xx-large;
    font-style: oblique;
}
.contenido {
    background-color: aquamarine;
}
.fol {
    text-decoration: line-through;
}
.recreo {
    background-color: beige;
    text-decoration: double;
}
a {
    color: black;
    text-decoration: solid;
    text-decoration: wavy;
}
